* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a{
  display: inline-block;
  padding: 10px 20px;
}

.navigation a:hover {
  color: #bebebe;
  background-color: #0a0a0a;
}

#logo a {
  font-size: xx-large;
}

.container {
  display: flex;
  row-gap: 30px;
  width: 90%;
  margin: 60px auto 0;
}

.flex-column {
  flex-direction: column;
}

button,
input {
  outline: none;
  border: none;
  border-radius: 0%;
}

.calc-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 90%;
  margin: auto;
  height: auto;
  padding: 2px;
  background: #bebebe;
  box-shadow: 0 4px 20px rgba(168, 168, 168, 0.7);
}

.calc-input {
  height: 50px;
  font-size: 16px;
  background: #858694;
  color: #fff;
  padding: 5px;
  text-align: right;
}

.calc-input::placeholder {
  color: #fff;
}

.btn-contain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2px;
  row-gap: 2px;
  padding: 1px;
}

.btn-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px;
  background: #e0e0e0;
}

.btn-div:nth-child(19) .btn,
.btn-div:nth-child(4n+0) .btn {
  background: #f5913e;
}

.btn-div:nth-child(17) {
  grid-column: 1/3;
}
